SQL ve NoSQL Veritabanı
- SQL: Tablolara benzer. Verilerin ve veri kümelerinin yapılacak iş doğrultusunda modellenmesidir. MySql, MsSql, Sqlite

- NoSQL: Json veri tipine benzer. Düşük gecikme süreli uygulamaları içeren çeşitli veri erişimi için kullanılan databasedir. MongoDb

- Server: Verilerin güvenle ve bütünlük içerisinde depolanmasını ve aynı anda birden fazla kullanıcı tarafından erişilmesini sağlayan kurumsal çaplı bir ilişkisel veri tabanı yönetim sistemidir: MySql, MsSql, MongoDb

- Serverless: Uygulamaların bulut sağlayıcılar tarafından barındırıldığı ve geliştiricilerin sunucu, yazılım ve donanım yönetimi ihtiyacını ortadan kaldıran bir yapıdır. Serverless yani “Sunucusuz": Sqlite

- MYSQL ile kurduğumuz servere bağlanmak için mysql.connector modülü kullanılır.

In [2]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D068CCB8E0>

- Python kullanarak database oluşturmak.

In [3]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678")

my_cursor=mydb.cursor()
my_cursor.execute("CREATE DATABASE mydatabase")

- Databasedeki bilgileri ekrana yazdırmak için şekildeki gibi işlem yapılabilir.

In [5]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678")

my_cursor=mydb.cursor()
my_cursor.execute("SHOW DATABASES")

for x in my_cursor:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('node-app',)
('performance_schema',)
('sys',)

- MYSQL server eklemek.

In [24]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="node-app")

cursor=mydb.cursor()
cursor.execute("CREATE DATABASE mydatabase")

- MYSQL server silmek.

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="node-app")

cursor=mydb.cursor()
cursor.execute("DROP DATABASE mydatabase")

- MYSQL servera tablo eklemek.

In [17]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="node-app")

cursor=mydb.cursor()
cursor.execute("CREATE TABLE muşteriler (name VARCHAR(255),address VARCHAR(255))")

- MYSQL serverdan tablo silmek.

In [18]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="node-app")

cursor=mydb.cursor()
cursor.execute("DROP TABLE müşteriler")

- Select ile kayıt sorgulama

In [4]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select * From öğrenci")
result=cursor.fetchall()
for i in result: 
    print(i) 
print("\n")
for öğrenci in result:
    print(f"Ad:{öğrenci[2]} Soyad: {öğrenci[3]}")

(1, '530', 'Halil İbrahim', 'Kalabalık', datetime.datetime(2004, 1, 1, 0, 0), 'E')
(5, '407', 'Halil İbrahim', 'Kalabalık', datetime.datetime(1960, 1, 1, 0, 0), 'E')
(6, '112', 'Kaan', 'Gerçek', datetime.datetime(2002, 2, 3, 0, 0), 'K')


Ad:Halil İbrahim Soyad: Kalabalık
Ad:Halil İbrahim Soyad: Kalabalık
Ad:Kaan Soyad: Gerçek

- Sadece istediğimiz sütunları çekmek için select sorgusundan sonra sütun adı belirtilir.

In [7]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select ad,soyad From öğrenci")
result=cursor.fetchall()
for öğrenci in result: 
    print(f"Ad: {öğrenci[0]} Soyad: {öğrenci[1]}")

Ad: Halil İbrahim Soyad: Kalabalık
Ad: Halil İbrahim Soyad: Kalabalık
Ad: Kaan Soyad: Gerçek

- İlk kayıtı ekrana bastırma.

In [15]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select ad,soyad From öğrenci")
result=cursor.fetchone()

print(f"Ad: {result[0]} Soyad: {result[1]}")

Ad: Halil İbrahim Soyad: Kalabalık

- where ile kayıt filtreleme.

In [5]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select * From öğrenci Where id='1'")
result=cursor.fetchall()
for öğrenci in result:
    print(f"id:{öğrenci[0]} Ad:{öğrenci[2]} Soyad: {öğrenci[3]}")

id:1 Ad:Halil İbrahim Soyad: Kalabalık

- Birden fazla değişkene bağlı filtrelemek için and-or bağlaçları kullanılır.

In [7]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select * From öğrenci Where ad='Halil İbrahim' and öğrencino='530'")
result=cursor.fetchall()
for öğrenci in result:
    print(f"No:{öğrenci[1]} Ad:{öğrenci[2]} Soyad: {öğrenci[3]}")

No:530 Ad:Halil İbrahim Soyad: Kalabalık

- Belirtilen kelimeye göre filtreleme işlemi yapmak için LIKE ifadesi ve % işaretleri kullanılır.

In [12]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select * From öğrenci Where ad LIKE '%Kaan%'") # Sağ baştan arama yapar.
result=cursor.fetchall()
for öğrenci in result:
    print(f"No:{öğrenci[1]} Ad:{öğrenci[2]} Soyad: {öğrenci[3]}")

No:112 Ad:Kaan Soyad: Gerçek
No:112 Ad:Kaan Soyad: Gerçek

- OrderBy sorgusu ile kayıt sıralama. ASC: Artan şekilde. DESC: Azalan şekilde.

In [19]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select * From öğrenci Order By soyad,id")
result=cursor.fetchall()
for öğrenci in result:
    print(f"ID:{öğrenci[0]} Ad:{öğrenci[2]} Soyad: {öğrenci[3]}")

ID:8 Ad:Mustafa Soyad: Aydın
ID:7 Ad:Muammer Soyad: Çelik
ID:6 Ad:Kaan Soyad: Gerçek
ID:1 Ad:Halil İbrahim Soyad: Kalabalık
ID:5 Ad:Halil İbrahim Soyad: Kalabalık

- LIMIT ifadesi ile sınırlandırma yapma.

In [2]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select * From öğrenci Order By soyad,id LIMIT 3")
result=cursor.fetchall()
for öğrenci in result:
    print(f"ID:{öğrenci[0]} Ad:{öğrenci[2]} Soyad: {öğrenci[3]}")

ID:8 Ad:Mustafa Soyad: Aydın
ID:7 Ad:Muammer Soyad: Çelik
ID:6 Ad:Kaan Soyad: Gerçek

- Count Metodu: Toplam kayıt sayısı ve filtrelem işlemi sonrası kaç tane öge olduğu bulunabilir.

In [23]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select COUNT(*) From öğrenci")
result=cursor.fetchone()
for i in result:
    print("Toplam kayıt sayısı:",i)

Toplam kayıt sayısı: 5

- AVG Metodu: Ortalama alma işlemi için kullanılan metotdur.

In [27]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select AVG(id) From öğrenci")
result=cursor.fetchone()
for i in result:
    print("ID'ler ortalaması:",i)

ID'ler ortalaması: 5.4000

- SUM Metodu: Toplama işlemi yapmak için kullanılan metotdur.

In [26]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select SUM(id) From öğrenci")
result=cursor.fetchone()
for i in result:
    print("ID'ler toplamı:",i)

ID'ler toplamı: 27

- MIN Metedu: Belitilen durumlar arasında en küçük değeri ekrana getirir.

In [30]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select MIN(id) From öğrenci")
result=cursor.fetchone()
for i in result:
    print("Min ID:",i)

Min ID: 1

- MAX Metedu: Belitilen durumlar arasında en büyük değeri ekrana getirir.

In [29]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select MAX(id) From öğrenci")
result=cursor.fetchone()
for i in result:
    print("Max ID:",i)

Max ID: 8

- Update kayıt güncelleme.

In [6]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Select * From öğrenci Where id='5'")
result=cursor.fetchall()
for i in result:
    print(f"Ad:{i[2]}  Soyad:{i[3]}")

cursor=mydb.cursor()
cursor.execute("Update öğrenci Set ad='Mustafa Kemal',soyad='Atatürk' Where id='5'")
mydb.commit()
print("-"*32)
cursor=mydb.cursor()
cursor.execute("Select * From öğrenci Where id='5'")
result=cursor.fetchall()
for i in result:
    print(f"Ad:{i[2]}  Soyad:{i[3]}")

Ad:Halil İbrahim  Soyad:Kalabalık
--------------------------------
Ad:Mustafa Kemal  Soyad:Atatürk

- Delete kayıt silme.

In [10]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
cursor.execute("Delete from öğrenci Where öğrencino=112")
mydb.commit()
print("Kayıt silindi")

Kayıt silindi

- Birden fazla tablo ile çalışmak.

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="12345678",
    database="okul")

cursor=mydb.cursor()
sql="Select * From Öğrenci inner join öğretmen on öğretmen.id=öğrenci.öğretmenid"
sql="Select * From Öğrenci as a inner join öğretmen as b on b.id=a.öğretmenid" # Kod kısaltma
cursor.execute(sql)
mydb.commit()
print("Kayıt silindi")