Sqlite VeriTabanı ve Tablolar
- Sqlite veritabanı diğer veritabanları gibi sunucu kurmamızı gerektirmez, yani sunucusuz bir veritabanıdır. Bu anlamda herhangi bir programımızın yanına direk olarak kurulabilir. 
- Veritabanı uygulamalarımızda , websitelerimizde veya en genel anlamda programlarımızda gerekli olan bilgileri depoladığımız bir yapıdır. Örneğin , Facebook'un kullanıcıları, gönderileri tuttuğu veritabanları gibi. Günümüzde kullanılan bazı veritabanı türleri şunlardır;

  - Relational Database (İlişkisel Veritabanları) : Tablolardan oluşur. Mysql, Sqlite vs.
  - DocumentBased Database (Doküman Veritabanları) : Dokümanlardan oluşur. MongoDb, Azure DocumentDb

- Aşağıda .db uzantısı ile 'kütüphane' adında database yani veri tabanı oluşturulmuştur.

In [1]:
import sqlite3
con=sqlite3.connect("kütüphane.db")
cursor=con.cursor() # Veritabanı üzerinde işlem yapmak için kullanacağımız imleç olacak.
con.close()

- Tablo oluşturmak.

In [ ]:
import sqlite3 
con = sqlite3.connect("kütüphane.db") 
cursor = con.cursor() 
def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit() 
tablo_oluştur()
con.close()

- Tabloya veri eklemek.

In [5]:
import sqlite3 
con = sqlite3.connect("kütüphane.db") 
cursor = con.cursor() 
def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit() 
def veri_ekle():
    cursor.execute("Insert into kitaplık Values ('Nutuk','Mustafa Kemal Atatürk','Can Yayınları',543)")
    con.commit()
def veri_ekle2(isim,yazar,yayın,sayfa):
    cursor.execute("Insert into kitaplık Values(?,?,?,?)",(isim,yazar,yayın,sayfa))
    con.commit()

tablo_oluştur()
veri_ekle()

isim=input("Kitabın ismini giriniz:")
yazar=input("Kitabın yazar ismini giriniz:")
yayın=input("Kitabın yayın evini giriniz:")
sayfa=int(input("Kitabın sayfa sayısını giriniz:"))

veri_ekle2(isim,yazar,yayın,sayfa)
con.close()

- Tablodan veri çekme

In [2]:
import sqlite3 
con = sqlite3.connect("kütüphane.db") 
cursor = con.cursor() 
def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit() 
def veri_ekle():
    cursor.execute("Insert into kitaplık Values ('Nutuk','Mustafa Kemal Atatürk','Can Yayınları',543)")
    con.commit()
def veri_ekle2():
    cursor.execute("Insert into kitaplık Values ('Sinekli Bakkal','Halide Edip Adıvar','İş Bankası Yayınları',483)")
    con.commit()

tablo_oluştur()
veri_ekle()
veri_ekle2()

def veri_çek():
    cursor.execute("Select * From kitaplık") # Select * Tüm verileri çekmek için kullanılır.
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri\n{}".format("-"*65))
    for i in liste:
        print(i)
def veri_çek2():
    cursor.execute("Select İsim,Yazar From kitaplık") # Sadece istediğimiz verileri çekmek için kullanılır.
    liste=cursor.fetchall()
    print("\nKitaplık tablosunun bilgileri\n{}".format("-"*65))
    for i in liste:
        print(i)
def veri_çek3(yayınevi):
    cursor.execute("Select * From kitaplık where Yayınevi=?",(yayınevi,)) # Sadece istediğimiz verileri çekmek için kullanılır.
    liste=cursor.fetchall()
    print("\nKitaplık tablosunun bilgileri\n{}".format("-"*65))
    for i in liste:
        print(i)

veri_çek()
veri_çek2()
veri_çek3("Can Yayınları")
con.close()

Kitaplık tablosunun bilgileri
-----------------------------------------------------------------
('Nutuk', 'Mustafa Kemal Atatürk', 'Can Yayınları', 543)
('Sinekli Bakkal', 'Halide Edip Adıvar', 'İş Bankası Yayınları', 483)

Kitaplık tablosunun bilgileri
-----------------------------------------------------------------
('Nutuk', 'Mustafa Kemal Atatürk')
('Sinekli Bakkal', 'Halide Edip Adıvar')

Kitaplık tablosunun bilgileri
-----------------------------------------------------------------
('Nutuk', 'Mustafa Kemal Atatürk', 'Can Yayınları', 543)

- Tablodan veri silme - güncelleme

In [17]:
import sqlite3 
con = sqlite3.connect("kütüphane.db") 
cursor = con.cursor() 
def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit() 
tablo_oluştur()
def veri_ekle():
    cursor.execute("Insert into kitaplık Values ('Nutuk','Mustafa Kemal Atatürk','Can Yayınları',543)")
    con.commit()
veri_ekle()
def veri_ekle2():
    cursor.execute("Insert into kitaplık Values ('Sinekli Bakkal','Halide Edip Adıvar','İş Bankası Yayınları',483)")
    con.commit()
veri_ekle2()
def veri_güncelle(yeni_yayınevi,eski_yayınevi):
    cursor.execute("UPDATE kitaplık SET Yayınevi = ? WHERE Yayınevi =  ?",(yeni_yayınevi,eski_yayınevi))
    con.commit()
def veri_çek():
    cursor.execute("Select * From kitaplık") # Select * Tüm verileri çekmek için kullanılır.
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri\n{}".format("-"*65))
    for i in liste:
        print(i)
veri_çek()        
veri_güncelle("Everest","Can Yayınları")
veri_çek()
con.close()

Kitaplık tablosunun bilgileri
-----------------------------------------------------------------
('Nutuk', 'Mustafa Kemal Atatürk', 'Can Yayınları', 543)
('Sinekli Bakkal', 'Halide Edip Adıvar', 'İş Bankası Yayınları', 483)
Kitaplık tablosunun bilgileri
-----------------------------------------------------------------
('Nutuk', 'Mustafa Kemal Atatürk', 'Everest', 543)
('Sinekli Bakkal', 'Halide Edip Adıvar', 'İş Bankası Yayınları', 483)

- Tablodan veri silme

In [19]:
import sqlite3 
con = sqlite3.connect("kütüphane.db") 
cursor = con.cursor() 
def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)")
    con.commit() 
tablo_oluştur()
def veri_ekle():
    cursor.execute("Insert into kitaplık Values ('Nutuk','Mustafa Kemal Atatürk','Can Yayınları',543)")
    con.commit()
veri_ekle()
def veri_ekle2():
    cursor.execute("Insert into kitaplık Values ('Sinekli Bakkal','Halide Edip Adıvar','İş Bankası Yayınları',483)")
    con.commit()
veri_ekle2()
def veri_sil(yazar):
    cursor.execute("Delete From kitaplık where Yazar=?",(yazar,))
    con.commit()
def veri_çek():
    cursor.execute("Select * From kitaplık") # Select * Tüm verileri çekmek için kullanılır.
    liste=cursor.fetchall()
    print("Kitaplık tablosunun bilgileri\n{}".format("-"*65))
    for i in liste:
        print(i)
veri_çek() 
veri_sil('Halide Edip Adıvar')
veri_çek() 
con.close()

Kitaplık tablosunun bilgileri
-----------------------------------------------------------------
('Nutuk', 'Mustafa Kemal Atatürk', 'Can Yayınları', 543)
('Sinekli Bakkal', 'Halide Edip Adıvar', 'İş Bankası Yayınları', 483)
Kitaplık tablosunun bilgileri
-----------------------------------------------------------------
('Nutuk', 'Mustafa Kemal Atatürk', 'Can Yayınları', 543)